body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ff6f61;
    text-shadow: 2px 2px #000;
    margin-bottom: 20px;
}

.event {
    background-color: #1c1c1c;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

.event-date {
    font-size: 1.2em;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.event-description h2,
.event-description h3 {
    color: #ff6f61;
    text-shadow: 1px 1px #000;
    margin-top: 20px;
}

.event-description p {
    margin: 10px 0;
    line-height: 1.6;
    text-align: justify;
}

.footer {
    background-color: #1c1c1c;
    padding: 10px;
    text-align: center;
    color: #a0a0a0;
    border-top: 1px solid #444;
}
